/* Tabs */

.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 0px !important;}
#tabs{background: #f3f4f6 !important ; border: none;}
.ui-tabs-tab{background: white !important}
.w_ful{width: 100% !important;}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active{background:#3b82f6 !important }
.ui-tabs-tab , .ui-widget-header {border:none !important;}
.fontSize{font-size: 12px !important;}

.py_0 {padding-top: 0px !important;padding-bottom: 0px !important;}
.px_0 {padding-left: 0px !important;padding-right: 0px !important;}
.upgradeDiv{background-image: url(https://cdn6.f-cdn.com/files/download/139736386/easter-ban.jpg); background-size: cover;border-radius: 0;}